* {
    font-family: verdana
}
a {
  color: beige;  
}
.Entirety {
    background-image: url("http://i.imgur.com/GsNfiV5.jpg");
    border-radius: 1.25rem;
    background-size: contain; 
}
h1 {
    color: beige;
    font-size: 3.9rem;
    font-family: sans-serif;
    border: .25rem solid ivory;
    border-radius: 1.25rem
}
header {
    text-align: center;
    /*background-color: lightslategray;*/
    background-image: url("http://i.imgur.com/iwFZflE.jpg");
    background-size: cover;
    border-radius: 1.25rem
}
img {
    height: 14%;
    width: 16%; 
    border: .125rem solid black;
    border-radius: .85rem;
}
.vitals {
    display: inline-flex;
    color: beige;
    padding: 1.5rem;
    list-style: none;
        
}
#phone {
    border: .25rem solid;
    font-size: 1rem;
    color: beige;
    padding: 1.25rem;
    font-weight: bold;
}
#email {
    border: .25rem solid;
    font-size: 1rem;
    color: beige;
    padding: 1.25rem;
    font-weight: bold;
}
#address {
    border: .25rem solid;
    font-size: 1rem;
    color: beige;
    padding: 1.25rem;
    font-weight: bold;
}
.jobs {
    border: .4rem solid black;
    border-radius: 1.5rem;
    background-image: url("http://i.imgur.com/iwFZflE.jpg");
    background-size: cover;
    padding: 2rem
}
#DSG {
    border: .4rem solid black;
    border-radius: 1.5rem;
    background-color: #132020;
    margin: .3125rem .3125rem;
    padding: 1.25rem;
    color: beige;

}
#NCMLP {
      border: .4rem solid black;
    border-radius: 1.5rem;
    background-color: #132020;
    margin: .3125rem .3125rem;
    padding: 1.25rem;
    color: beige;   

}
#Remis {
      border: .4rem solid black;
    border-radius: 1.5rem;
    background-color: #132020;
    margin: .3125rem .3125rem;
    padding: 1.25rem;
    color: beige;
}
#Mayor {
       border: .4rem solid black;
    border-radius: 1.5rem;
    background-color: #132020;
    margin: .3125rem .3125rem;
    padding: 1.25rem;
    color: beige;
}
h4 {
    text-align: center;
}
#Wex {
    text-align: center;
    font-size: 4rem;
    color: black;
}
.jobname {
    font-size: 1.8rem;
}
.DCjobs {
}
.INjobs {
}
#alljobs {
}
#Eduheading {
    text-align: center;
    font-size: 4rem;
    color: black;
}
.jobresps {
    position: relative;
    font-size: 1.2rem;
}
.Schoolname {
    text-align: left;
}
.years {
    float: right;
}
.Schoolheader {
    display: inline;
}
.jobtitle {
    font-style: italic;
    font-size: 1rem;
}
.jobduration {
    font-style: normal;
    font-size: .8rem;
}
.responsibilitiesheader {
    font-weight: bold;
}
.Schooling {
    border: .4rem solid black;
    border-radius: 1.5rem;
    background-image: url("http://i.imgur.com/iwFZflE.jpg");
    background-size: cover;
    padding: 2rem;
        
}
#GWU {
    border: .4rem solid black;
    border-radius: 1.5rem;
    background-color: #132020;
    margin: 1.5rem 1.5rem;
    color: beige;
    padding: 1.25rem;
}
#Saintjoe {
    border: .4rem solid black;
    border-radius: 1.5rem;
    background-color: #132020;
    margin: 1.5rem 1.5rem;
    color: beige;
    padding: 1.25rem;

}
